[Desktop Entry]
Name=Alfred
Exec=alfred
Type=Application
Icon=alfred
Categories=AudioVideo;Audio;
Comment=A software synthesizer and sequencer program
