[Desktop Entry]
Name=Alfred
Exec=alfred
Type=Application
Icon=alfred
Categories=AudioVideo;Audio;
Comment=A software audio synthesizer, sequencer and composition editor program
