[submodule "alfred/extern/SDL"]
	path = alfred/extern/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "alfred/gui/extern/imgui"]
	path = alfred/gui/extern/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
